.addBtn{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    background-color:#DAE4FD;
    border-radius: 8px;
    justify-content: space-between;
    color:var(--btnBlue)
}
.addBtn p {
    padding: 8px;
}