 body {
     --black:#333333;
     --gray74:#BDBDBD;
     --white:#FFFFFF;
     --gray:#828282;
     --dodgerBlue:#2F80ED;
      --lineGray:#E0E0E0;
     --btnBlue:#2F80ED;
     --grayText:#828282;
     --grray95:#F2F2F2;
 }
